@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  background-color: black;
}

body {
  font-family: sans-serif;
  background-color: black;
  min-height: 100vh;
  min-width: 100vh;
  background: no-repeat url(../public/DSC_6960.jpg);
  backdrop-filter: blur(10px) brightness(85%) contrast(110%) hue-rotate(270deg);
  background-attachment: fixed;
  background-size: cover;
  color: rgba(234, 179, 8, 1);
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}